@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
}

@keyframes flicker {
  0% {
    background-color: #31aec7;
  }
  50% {
    background-color: #3abfa3;
  }
  100% {
    background-color: #31aec7;
  }
}


/*:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/